.wrapper {
	filter: drop-shadow(0 0 0.25em var(--background-color))
}

	.tabs {
		overflow: auto;
		list-style: none;
		background-color: var(--tabs-background-color);
		margin: 0;
		display: flex;
		padding: 0 1em
	}

		.tab {
			display: inline;
			flex: 1;
			padding: 0 0.5em;
		}

			.tab button {
				all: unset;
				cursor: pointer;
				width: 100%;
				text-align: center;
				padding: 0 0.5em;
				height: 2rem;
			}

				.tab button[data-active=true] {
					background-color: var(--tabs-active);
				}

				.tab button:is(:active, :hover, :focus) {
					background-color: var(--tabs-focused);
				}

		.content {
			background-color: var(--tabs-content-background-color);
		}