.wrapper {
	filter: drop-shadow(0 0 0.25em black)
}

	.tabs {
		overflow: auto;
		list-style: none;
		background-color: rgb(37, 37, 38);
		margin: 0;
		display: flex;
		padding: 0 1em
	}

		.tab {
			display: inline;
			flex: 1;
			padding: 0 0.5em;
		}

			.tab button {
				all: unset;
				cursor: pointer;
				width: 100%;
				text-align: center;
				padding: 0 0.5em;
			}

				.tab button[data-active=true] {
					background-color: rgb(13, 17, 23);
				}

				.tab button:is(:active, :hover, :focus) {
					background-color: rgb(25, 27, 31);
				}

		.content {
			background-color: hsl(216, 28%, 7%);
		}