:root {
  /** Theming Variables */
  --background-color: black;
  --color: white;
  --scrollbar-background: #686868;
  --scrollbar-thumb: #151513;
  --anchor-color: rgb(102, 178, 255);
  --section-even: hsl(200, 20%, 15%);
  --section-borders: hsl(200, 30%, 15%);
  --section-odd: hsl(200, 40%, 15%);
  --section-color: hsl(200, 10%, 75%);
  --section-subtitle-color: hsl(200, 10%, 66%);--header-inversion: invert(0);
  --contact-background: #049a8f;
  --contact-color: black;
  --contact-placeholder-color: white;
  --contact-cv: 0;
  --footer-background: rgba(128, 128, 128, 0.25);
  --modal-background-color: #383838;
  --tabs-background-color: rgb(37, 37, 38);
  --tabs-content-background-color: hsl(216, 28%, 10%);
  --tabs-active: hsl(216, 28%, 10%);
  --tabs-focused: hsl(220, 11%, 20%);
  --mini-work-item-background: hsl(216, 28%, 20%);
  --skill-dark-background-color: hsl(216, 28%, 20%);
  --badge-background-color: hsl(216, 28%, 10%);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
    --color: black;
    --scrollbar-background: hsl(0, 0%, 60%);
    --scrollbar-thumb: hsl(60, 5%, 92%);
    --anchor-color: hsl(210, 100%, 30%);
    --section-even: hsl(200, 40%, 75%);
    --section-borders: hsl(200, 30%, 75%);
    --section-odd: hsl(200, 20%, 75%);
    --section-color: hsl(200, 10%, 15%);
    --section-subtitle-color: hsl(200, 10%, 33%);
    --header-inversion: invert(1);
    --contact-background: hsl(176, 95%, 70%);
    --contact-color: white;
    --contact-placeholder-color: black;
    --contact-cv: 255;
    --footer-background: rgba(128, 128, 128, 0.75);
    --modal-background-color: hsl(0, 0%, 78%);
    --tabs-background-color: hsl(240, 1%, 85%);
    --tabs-content-background-color: hsl(216, 28%, 90%);
    --tabs-active: hsl(216, 28%, 90%);
    --tabs-focused: hsl(220, 11%, 80%);
    --mini-work-item-background: hsl(216, 28%, 80%);
    --badge-background-color: hsl(216, 28%, 90%);
  }
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb)
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: 1rem;
  border: 2px solid var(--scrollbar-thumb);
}

* {
  scrollbar-color: var(--scrollbar-background) var(--scrollbar-thumb);
}


a {
  color: var(--anchor-color);
}

* {
  box-sizing: border-box;
}

section {
  color: var(--section-color);
}

  section:first-child {
    border-top: 0 !important;
  }

  section:nth-child(even) {
    border-top: 1em solid var(--section-borders);
    background: var(--section-even);
  }

  section:nth-child(odd) {
    border-top: 1em solid var(--section-borders);
    background: var(--section-odd);
  }

.hljs {
  width: max-content
}