:root {
  /** Theming Variables */
  --background-color: black;
  --color: white;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(102, 178, 255);
}

* {
  box-sizing: border-box;
}

section {
  color: hsl(200, 10%, 50%);
}

  section:first-child {
    border-top: 0 !important;
  }

  section:nth-child(even) {
    border-top: 1em solid hsl(200, 30%, 15%);
    background: hsl(200, 40%, 15%);
  }

  section:nth-child(odd) {
    border-top: 1em solid hsl(200, 30%, 15%);
    background: hsl(200, 20%, 15%);
  }

.hljs {
  width: max-content
}