.wrapper {
	padding-top: 0.5em;
	display: flex;
	flex-wrap: wrap;
}

.skill {
	position: relative;
	height: 100px;
	min-width: 100px;
	flex: 1;
	margin: 0.25em;
	background-color: hsl(216, 28%, 14%);
	border-radius: 1em;
}

.skill[data-background="light"] {
	background-color: white;
}

.img {
	padding: 0.25em !important;
}