.wrapper {
	padding-top: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill {
	border: 0;
	position: relative;
	height: 100px;
	min-width: 100px;
	flex: 0 1;
	margin: 0.25em;
	background-color: hsl(216, 28%, 14%);
	border-radius: 1em;
	cursor: pointer;
}

.skill[data-background="light"] {
	background-color: white;
}

.skill[data-inclusive="true"]{
	outline: 1px solid green;
}

.skill[data-exclusive="true"]{
	outline: 1px solid red;
}

.skill:is(:hover, :focus, :active){
	outline: 1px solid #63b1bc;
}

.skill:is(:hover, :focus, :active) .text {
	opacity: 1;
}

.text {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.1em;
	line-height: 1em;
	text-align: center;
	word-wrap: anywhere;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--color);
	opacity: 0;
	transition: 250ms opacity linear;
}

.img {
	padding: 0.25em !important;
}