.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(var(--contact-cv), var(--contact-cv), var(--contact-cv), 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.modal > div {
  position: relative;
  background-color: var(--modal-background-color);
  box-shadow:
    rgba(var(--contact-cv), var(--contact-cv), var(--contact-cv), 0.5) 0px 11px 15px -7px,
    rgba(var(--contact-cv), var(--contact-cv), var(--contact-cv), 0.5) 0px 24px 38px 3px,
    rgba(var(--contact-cv), var(--contact-cv), var(--contact-cv), 0.5) 0px 9px 46px 8px;
  color: var(--color);
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.closeButton {
  all: unset;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
  transition: all 1s;
}