.header {
	height: 75vh;
	/** Center the children both vertically and horizontally */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header::before {
	/** Background image that can be targeted with filter for animation */
	content: "";
	position: absolute;
	width: 100%;
	height: 75vh;
	background-image: var(--bg-url);
	background-repeat: no-repeat;
	background-position: center center;
	animation: cycle-hues 10s linear 2.5s infinite;
	filter: var(--header-inversion);
}

.header::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 75vh;
	background-image: linear-gradient(0deg, var(--section-odd) 0%, rgba(0,0,0,0) 20%);
}

.header span {
	position: relative;
}

.header span p {
	/** Move the "Hello" up so the Typewriter is centered */
	margin: -1em 0 0 0;
}

/** Cycle through all the hue-rotate values */
@keyframes cycle-hues {
	from { filter: hue-rotate(0deg) var(--header-inversion); }
	to { filter: hue-rotate(360deg) var(--header-inversion); }
}

.name {
	position: absolute;
	left: 49.5%;
	z-index: 1;
	font-size: 2rem;
}

.name div {
	text-transform: capitalize;
	color: white;
	display: inline-block;
	height: 175px;
	opacity: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: rotate(var(--degrees));
	transform-origin: bottom;
	font-family: monospace;
	animation: wheelHueColor 10s linear var(--header-hue-delay) infinite;
	transition: 2.5s all var(--delay);
	font-size: 1rem;
}

.name[data-loaded="true"] div {
	height: 210px;
	opacity: 1;
	font-size: 2rem;
}

@keyframes wheelHueColor {
	00.0000% { color: hsl(196, 92%, var(--header-hue-lightness)) }
	00.2778% { color: hsl(197, 92%, var(--header-hue-lightness)) }
	00.5556% { color: hsl(198, 92%, var(--header-hue-lightness)) }
	00.8333% { color: hsl(199, 92%, var(--header-hue-lightness)) }
	01.1111% { color: hsl(200, 92%, var(--header-hue-lightness)) }
	01.3889% { color: hsl(201, 92%, var(--header-hue-lightness)) }
	01.6667% { color: hsl(202, 92%, var(--header-hue-lightness)) }
	01.9444% { color: hsl(203, 92%, var(--header-hue-lightness)) }
	02.2222% { color: hsl(204, 92%, var(--header-hue-lightness)) }
	02.5000% { color: hsl(205, 92%, var(--header-hue-lightness)) }
	02.7778% { color: hsl(206, 92%, var(--header-hue-lightness)) }
	03.0556% { color: hsl(207, 92%, var(--header-hue-lightness)) }
	03.3333% { color: hsl(208, 92%, var(--header-hue-lightness)) }
	03.6111% { color: hsl(209, 92%, var(--header-hue-lightness)) }
	03.8889% { color: hsl(210, 92%, var(--header-hue-lightness)) }
	04.1667% { color: hsl(211, 92%, var(--header-hue-lightness)) }
	04.4444% { color: hsl(212, 92%, var(--header-hue-lightness)) }
	04.7222% { color: hsl(213, 92%, var(--header-hue-lightness)) }
	05.0000% { color: hsl(214, 92%, var(--header-hue-lightness)) }
	05.2778% { color: hsl(215, 92%, var(--header-hue-lightness)) }
	05.5556% { color: hsl(216, 92%, var(--header-hue-lightness)) }
	05.8333% { color: hsl(217, 92%, var(--header-hue-lightness)) }
	06.1111% { color: hsl(218, 92%, var(--header-hue-lightness)) }
	06.3889% { color: hsl(219, 92%, var(--header-hue-lightness)) }
	06.6667% { color: hsl(220, 92%, var(--header-hue-lightness)) }
	06.9444% { color: hsl(221, 92%, var(--header-hue-lightness)) }
	07.2222% { color: hsl(222, 92%, var(--header-hue-lightness)) }
	07.5000% { color: hsl(223, 92%, var(--header-hue-lightness)) }
	07.7778% { color: hsl(224, 92%, var(--header-hue-lightness)) }
	08.0556% { color: hsl(225, 92%, var(--header-hue-lightness)) }
	08.3333% { color: hsl(226, 92%, var(--header-hue-lightness)) }
	08.6111% { color: hsl(227, 92%, var(--header-hue-lightness)) }
	08.8889% { color: hsl(228, 92%, var(--header-hue-lightness)) }
	09.1667% { color: hsl(229, 92%, var(--header-hue-lightness)) }
	09.4444% { color: hsl(230, 92%, var(--header-hue-lightness)) }
	09.7222% { color: hsl(231, 92%, var(--header-hue-lightness)) }
	10.0000% { color: hsl(232, 92%, var(--header-hue-lightness)) }
	10.2778% { color: hsl(233, 92%, var(--header-hue-lightness)) }
	10.5556% { color: hsl(234, 92%, var(--header-hue-lightness)) }
	10.8333% { color: hsl(235, 92%, var(--header-hue-lightness)) }
	11.1111% { color: hsl(236, 92%, var(--header-hue-lightness)) }
	11.3889% { color: hsl(237, 92%, var(--header-hue-lightness)) }
	11.6667% { color: hsl(238, 92%, var(--header-hue-lightness)) }
	11.9444% { color: hsl(239, 92%, var(--header-hue-lightness)) }
	12.2222% { color: hsl(240, 92%, var(--header-hue-lightness)) }
	12.5000% { color: hsl(241, 92%, var(--header-hue-lightness)) }
	12.7778% { color: hsl(242, 92%, var(--header-hue-lightness)) }
	13.0556% { color: hsl(243, 92%, var(--header-hue-lightness)) }
	13.3333% { color: hsl(244, 92%, var(--header-hue-lightness)) }
	13.6111% { color: hsl(245, 92%, var(--header-hue-lightness)) }
	13.8889% { color: hsl(246, 92%, var(--header-hue-lightness)) }
	14.1667% { color: hsl(247, 92%, var(--header-hue-lightness)) }
	14.4444% { color: hsl(248, 92%, var(--header-hue-lightness)) }
	14.7222% { color: hsl(249, 92%, var(--header-hue-lightness)) }
	15.0000% { color: hsl(250, 92%, var(--header-hue-lightness)) }
	15.2778% { color: hsl(251, 92%, var(--header-hue-lightness)) }
	15.5556% { color: hsl(252, 92%, var(--header-hue-lightness)) }
	15.8333% { color: hsl(253, 92%, var(--header-hue-lightness)) }
	16.1111% { color: hsl(254, 92%, var(--header-hue-lightness)) }
	16.3889% { color: hsl(255, 92%, var(--header-hue-lightness)) }
	16.6667% { color: hsl(256, 92%, var(--header-hue-lightness)) }
	16.9444% { color: hsl(257, 92%, var(--header-hue-lightness)) }
	17.2222% { color: hsl(258, 92%, var(--header-hue-lightness)) }
	17.5000% { color: hsl(259, 92%, var(--header-hue-lightness)) }
	17.7778% { color: hsl(260, 92%, var(--header-hue-lightness)) }
	18.0556% { color: hsl(261, 92%, var(--header-hue-lightness)) }
	18.3333% { color: hsl(262, 92%, var(--header-hue-lightness)) }
	18.6111% { color: hsl(263, 92%, var(--header-hue-lightness)) }
	18.8889% { color: hsl(264, 92%, var(--header-hue-lightness)) }
	19.1667% { color: hsl(265, 92%, var(--header-hue-lightness)) }
	19.4444% { color: hsl(266, 92%, var(--header-hue-lightness)) }
	19.7222% { color: hsl(267, 92%, var(--header-hue-lightness)) }
	20.0000% { color: hsl(268, 92%, var(--header-hue-lightness)) }
	20.2778% { color: hsl(269, 92%, var(--header-hue-lightness)) }
	20.5556% { color: hsl(270, 92%, var(--header-hue-lightness)) }
	20.8333% { color: hsl(271, 92%, var(--header-hue-lightness)) }
	21.1111% { color: hsl(272, 92%, var(--header-hue-lightness)) }
	21.3889% { color: hsl(273, 92%, var(--header-hue-lightness)) }
	21.6667% { color: hsl(274, 92%, var(--header-hue-lightness)) }
	21.9444% { color: hsl(275, 92%, var(--header-hue-lightness)) }
	22.2222% { color: hsl(276, 92%, var(--header-hue-lightness)) }
	22.5000% { color: hsl(277, 92%, var(--header-hue-lightness)) }
	22.7778% { color: hsl(278, 92%, var(--header-hue-lightness)) }
	23.0556% { color: hsl(279, 92%, var(--header-hue-lightness)) }
	23.3333% { color: hsl(280, 92%, var(--header-hue-lightness)) }
	23.6111% { color: hsl(281, 92%, var(--header-hue-lightness)) }
	23.8889% { color: hsl(282, 92%, var(--header-hue-lightness)) }
	24.1667% { color: hsl(283, 92%, var(--header-hue-lightness)) }
	24.4444% { color: hsl(284, 92%, var(--header-hue-lightness)) }
	24.7222% { color: hsl(285, 92%, var(--header-hue-lightness)) }
	25.0000% { color: hsl(286, 92%, var(--header-hue-lightness)) }
	25.2778% { color: hsl(287, 92%, var(--header-hue-lightness)) }
	25.5556% { color: hsl(288, 92%, var(--header-hue-lightness)) }
	25.8333% { color: hsl(289, 92%, var(--header-hue-lightness)) }
	26.1111% { color: hsl(290, 92%, var(--header-hue-lightness)) }
	26.3889% { color: hsl(291, 92%, var(--header-hue-lightness)) }
	26.6667% { color: hsl(292, 92%, var(--header-hue-lightness)) }
	26.9444% { color: hsl(293, 92%, var(--header-hue-lightness)) }
	27.2222% { color: hsl(294, 92%, var(--header-hue-lightness)) }
	27.5000% { color: hsl(295, 92%, var(--header-hue-lightness)) }
	27.7778% { color: hsl(296, 92%, var(--header-hue-lightness)) }
	28.0556% { color: hsl(297, 92%, var(--header-hue-lightness)) }
	28.3333% { color: hsl(298, 92%, var(--header-hue-lightness)) }
	28.6111% { color: hsl(299, 92%, var(--header-hue-lightness)) }
	28.8889% { color: hsl(300, 92%, var(--header-hue-lightness)) }
	29.1667% { color: hsl(301, 92%, var(--header-hue-lightness)) }
	29.4444% { color: hsl(302, 92%, var(--header-hue-lightness)) }
	29.7222% { color: hsl(303, 92%, var(--header-hue-lightness)) }
	30.0000% { color: hsl(304, 92%, var(--header-hue-lightness)) }
	30.2778% { color: hsl(305, 92%, var(--header-hue-lightness)) }
	30.5556% { color: hsl(306, 92%, var(--header-hue-lightness)) }
	30.8333% { color: hsl(307, 92%, var(--header-hue-lightness)) }
	31.1111% { color: hsl(308, 92%, var(--header-hue-lightness)) }
	31.3889% { color: hsl(309, 92%, var(--header-hue-lightness)) }
	31.6667% { color: hsl(310, 92%, var(--header-hue-lightness)) }
	31.9444% { color: hsl(311, 92%, var(--header-hue-lightness)) }
	32.2222% { color: hsl(312, 92%, var(--header-hue-lightness)) }
	32.5000% { color: hsl(313, 92%, var(--header-hue-lightness)) }
	32.7778% { color: hsl(314, 92%, var(--header-hue-lightness)) }
	33.0556% { color: hsl(315, 92%, var(--header-hue-lightness)) }
	33.3333% { color: hsl(316, 92%, var(--header-hue-lightness)) }
	33.6111% { color: hsl(317, 92%, var(--header-hue-lightness)) }
	33.8889% { color: hsl(318, 92%, var(--header-hue-lightness)) }
	34.1667% { color: hsl(319, 92%, var(--header-hue-lightness)) }
	34.4444% { color: hsl(320, 92%, var(--header-hue-lightness)) }
	34.7222% { color: hsl(321, 92%, var(--header-hue-lightness)) }
	35.0000% { color: hsl(322, 92%, var(--header-hue-lightness)) }
	35.2778% { color: hsl(323, 92%, var(--header-hue-lightness)) }
	35.5556% { color: hsl(324, 92%, var(--header-hue-lightness)) }
	35.8333% { color: hsl(325, 92%, var(--header-hue-lightness)) }
	36.1111% { color: hsl(326, 92%, var(--header-hue-lightness)) }
	36.3889% { color: hsl(327, 92%, var(--header-hue-lightness)) }
	36.6667% { color: hsl(328, 92%, var(--header-hue-lightness)) }
	36.9444% { color: hsl(329, 92%, var(--header-hue-lightness)) }
	37.2222% { color: hsl(330, 92%, var(--header-hue-lightness)) }
	37.5000% { color: hsl(331, 92%, var(--header-hue-lightness)) }
	37.7778% { color: hsl(332, 92%, var(--header-hue-lightness)) }
	38.0556% { color: hsl(333, 92%, var(--header-hue-lightness)) }
	38.3333% { color: hsl(334, 92%, var(--header-hue-lightness)) }
	38.6111% { color: hsl(335, 92%, var(--header-hue-lightness)) }
	38.8889% { color: hsl(336, 92%, var(--header-hue-lightness)) }
	39.1667% { color: hsl(337, 92%, var(--header-hue-lightness)) }
	39.4444% { color: hsl(338, 92%, var(--header-hue-lightness)) }
	39.7222% { color: hsl(339, 92%, var(--header-hue-lightness)) }
	40.0000% { color: hsl(340, 92%, var(--header-hue-lightness)) }
	40.2778% { color: hsl(341, 92%, var(--header-hue-lightness)) }
	40.5556% { color: hsl(342, 92%, var(--header-hue-lightness)) }
	40.8333% { color: hsl(343, 92%, var(--header-hue-lightness)) }
	41.1111% { color: hsl(344, 92%, var(--header-hue-lightness)) }
	41.3889% { color: hsl(345, 92%, var(--header-hue-lightness)) }
	41.6667% { color: hsl(346, 92%, var(--header-hue-lightness)) }
	41.9444% { color: hsl(347, 92%, var(--header-hue-lightness)) }
	42.2222% { color: hsl(348, 92%, var(--header-hue-lightness)) }
	42.5000% { color: hsl(349, 92%, var(--header-hue-lightness)) }
	42.7778% { color: hsl(350, 92%, var(--header-hue-lightness)) }
	43.0556% { color: hsl(351, 92%, var(--header-hue-lightness)) }
	43.3333% { color: hsl(352, 92%, var(--header-hue-lightness)) }
	43.6111% { color: hsl(353, 92%, var(--header-hue-lightness)) }
	43.8889% { color: hsl(354, 92%, var(--header-hue-lightness)) }
	44.1667% { color: hsl(355, 92%, var(--header-hue-lightness)) }
	44.4444% { color: hsl(356, 92%, var(--header-hue-lightness)) }
	44.7222% { color: hsl(357, 92%, var(--header-hue-lightness)) }
	45.0000% { color: hsl(358, 92%, var(--header-hue-lightness)) }
	45.2778% { color: hsl(359, 92%, var(--header-hue-lightness)) }
	45.5556% { color: hsl(0, 92%, var(--header-hue-lightness)) }
	45.8333% { color: hsl(1, 92%, var(--header-hue-lightness)) }
	46.1111% { color: hsl(2, 92%, var(--header-hue-lightness)) }
	46.3889% { color: hsl(3, 92%, var(--header-hue-lightness)) }
	46.6667% { color: hsl(4, 92%, var(--header-hue-lightness)) }
	46.9444% { color: hsl(5, 92%, var(--header-hue-lightness)) }
	47.2222% { color: hsl(6, 92%, var(--header-hue-lightness)) }
	47.5000% { color: hsl(7, 92%, var(--header-hue-lightness)) }
	47.7778% { color: hsl(8, 92%, var(--header-hue-lightness)) }
	48.0556% { color: hsl(9, 92%, var(--header-hue-lightness)) }
	48.3333% { color: hsl(10, 92%, var(--header-hue-lightness)) }
	48.6111% { color: hsl(11, 92%, var(--header-hue-lightness)) }
	48.8889% { color: hsl(12, 92%, var(--header-hue-lightness)) }
	49.1667% { color: hsl(13, 92%, var(--header-hue-lightness)) }
	49.4444% { color: hsl(14, 92%, var(--header-hue-lightness)) }
	49.7222% { color: hsl(15, 92%, var(--header-hue-lightness)) }
	50.0000% { color: hsl(16, 92%, var(--header-hue-lightness)) }
	50.2778% { color: hsl(17, 92%, var(--header-hue-lightness)) }
	50.5556% { color: hsl(18, 92%, var(--header-hue-lightness)) }
	50.8333% { color: hsl(19, 92%, var(--header-hue-lightness)) }
	51.1111% { color: hsl(20, 92%, var(--header-hue-lightness)) }
	51.3889% { color: hsl(21, 92%, var(--header-hue-lightness)) }
	51.6667% { color: hsl(22, 92%, var(--header-hue-lightness)) }
	51.9444% { color: hsl(23, 92%, var(--header-hue-lightness)) }
	52.2222% { color: hsl(24, 92%, var(--header-hue-lightness)) }
	52.5000% { color: hsl(25, 92%, var(--header-hue-lightness)) }
	52.7778% { color: hsl(26, 92%, var(--header-hue-lightness)) }
	53.0556% { color: hsl(27, 92%, var(--header-hue-lightness)) }
	53.3333% { color: hsl(28, 92%, var(--header-hue-lightness)) }
	53.6111% { color: hsl(29, 92%, var(--header-hue-lightness)) }
	53.8889% { color: hsl(30, 92%, var(--header-hue-lightness)) }
	54.1667% { color: hsl(31, 92%, var(--header-hue-lightness)) }
	54.4444% { color: hsl(32, 92%, var(--header-hue-lightness)) }
	54.7222% { color: hsl(33, 92%, var(--header-hue-lightness)) }
	55.0000% { color: hsl(34, 92%, var(--header-hue-lightness)) }
	55.2778% { color: hsl(35, 92%, var(--header-hue-lightness)) }
	55.5556% { color: hsl(36, 92%, var(--header-hue-lightness)) }
	55.8333% { color: hsl(37, 92%, var(--header-hue-lightness)) }
	56.1111% { color: hsl(38, 92%, var(--header-hue-lightness)) }
	56.3889% { color: hsl(39, 92%, var(--header-hue-lightness)) }
	56.6667% { color: hsl(40, 92%, var(--header-hue-lightness)) }
	56.9444% { color: hsl(41, 92%, var(--header-hue-lightness)) }
	57.2222% { color: hsl(42, 92%, var(--header-hue-lightness)) }
	57.5000% { color: hsl(43, 92%, var(--header-hue-lightness)) }
	57.7778% { color: hsl(44, 92%, var(--header-hue-lightness)) }
	58.0556% { color: hsl(45, 92%, var(--header-hue-lightness)) }
	58.3333% { color: hsl(46, 92%, var(--header-hue-lightness)) }
	58.6111% { color: hsl(47, 92%, var(--header-hue-lightness)) }
	58.8889% { color: hsl(48, 92%, var(--header-hue-lightness)) }
	59.1667% { color: hsl(49, 92%, var(--header-hue-lightness)) }
	59.4444% { color: hsl(50, 92%, var(--header-hue-lightness)) }
	59.7222% { color: hsl(51, 92%, var(--header-hue-lightness)) }
	60.0000% { color: hsl(52, 92%, var(--header-hue-lightness)) }
	60.2778% { color: hsl(53, 92%, var(--header-hue-lightness)) }
	60.5556% { color: hsl(54, 92%, var(--header-hue-lightness)) }
	60.8333% { color: hsl(55, 92%, var(--header-hue-lightness)) }
	61.1111% { color: hsl(56, 92%, var(--header-hue-lightness)) }
	61.3889% { color: hsl(57, 92%, var(--header-hue-lightness)) }
	61.6667% { color: hsl(58, 92%, var(--header-hue-lightness)) }
	61.9444% { color: hsl(59, 92%, var(--header-hue-lightness)) }
	62.2222% { color: hsl(60, 92%, var(--header-hue-lightness)) }
	62.5000% { color: hsl(61, 92%, var(--header-hue-lightness)) }
	62.7778% { color: hsl(62, 92%, var(--header-hue-lightness)) }
	63.0556% { color: hsl(63, 92%, var(--header-hue-lightness)) }
	63.3333% { color: hsl(64, 92%, var(--header-hue-lightness)) }
	63.6111% { color: hsl(65, 92%, var(--header-hue-lightness)) }
	63.8889% { color: hsl(66, 92%, var(--header-hue-lightness)) }
	64.1667% { color: hsl(67, 92%, var(--header-hue-lightness)) }
	64.4444% { color: hsl(68, 92%, var(--header-hue-lightness)) }
	64.7222% { color: hsl(69, 92%, var(--header-hue-lightness)) }
	65.0000% { color: hsl(70, 92%, var(--header-hue-lightness)) }
	65.2778% { color: hsl(71, 92%, var(--header-hue-lightness)) }
	65.5556% { color: hsl(72, 92%, var(--header-hue-lightness)) }
	65.8333% { color: hsl(73, 92%, var(--header-hue-lightness)) }
	66.1111% { color: hsl(74, 92%, var(--header-hue-lightness)) }
	66.3889% { color: hsl(75, 92%, var(--header-hue-lightness)) }
	66.6667% { color: hsl(76, 92%, var(--header-hue-lightness)) }
	66.9444% { color: hsl(77, 92%, var(--header-hue-lightness)) }
	67.2222% { color: hsl(78, 92%, var(--header-hue-lightness)) }
	67.5000% { color: hsl(79, 92%, var(--header-hue-lightness)) }
	67.7778% { color: hsl(80, 92%, var(--header-hue-lightness)) }
	68.0556% { color: hsl(81, 92%, var(--header-hue-lightness)) }
	68.3333% { color: hsl(82, 92%, var(--header-hue-lightness)) }
	68.6111% { color: hsl(83, 92%, var(--header-hue-lightness)) }
	68.8889% { color: hsl(84, 92%, var(--header-hue-lightness)) }
	69.1667% { color: hsl(85, 92%, var(--header-hue-lightness)) }
	69.4444% { color: hsl(86, 92%, var(--header-hue-lightness)) }
	69.7222% { color: hsl(87, 92%, var(--header-hue-lightness)) }
	70.0000% { color: hsl(88, 92%, var(--header-hue-lightness)) }
	70.2778% { color: hsl(89, 92%, var(--header-hue-lightness)) }
	70.5556% { color: hsl(90, 92%, var(--header-hue-lightness)) }
	70.8333% { color: hsl(91, 92%, var(--header-hue-lightness)) }
	71.1111% { color: hsl(92, 92%, var(--header-hue-lightness)) }
	71.3889% { color: hsl(93, 92%, var(--header-hue-lightness)) }
	71.6667% { color: hsl(94, 92%, var(--header-hue-lightness)) }
	71.9444% { color: hsl(95, 92%, var(--header-hue-lightness)) }
	72.2222% { color: hsl(96, 92%, var(--header-hue-lightness)) }
	72.5000% { color: hsl(97, 92%, var(--header-hue-lightness)) }
	72.7778% { color: hsl(98, 92%, var(--header-hue-lightness)) }
	73.0556% { color: hsl(99, 92%, var(--header-hue-lightness)) }
	73.3333% { color: hsl(100, 92%, var(--header-hue-lightness)) }
	73.6111% { color: hsl(101, 92%, var(--header-hue-lightness)) }
	73.8889% { color: hsl(102, 92%, var(--header-hue-lightness)) }
	74.1667% { color: hsl(103, 92%, var(--header-hue-lightness)) }
	74.4444% { color: hsl(104, 92%, var(--header-hue-lightness)) }
	74.7222% { color: hsl(105, 92%, var(--header-hue-lightness)) }
	75.0000% { color: hsl(106, 92%, var(--header-hue-lightness)) }
	75.2778% { color: hsl(107, 92%, var(--header-hue-lightness)) }
	75.5556% { color: hsl(108, 92%, var(--header-hue-lightness)) }
	75.8333% { color: hsl(109, 92%, var(--header-hue-lightness)) }
	76.1111% { color: hsl(110, 92%, var(--header-hue-lightness)) }
	76.3889% { color: hsl(111, 92%, var(--header-hue-lightness)) }
	76.6667% { color: hsl(112, 92%, var(--header-hue-lightness)) }
	76.9444% { color: hsl(113, 92%, var(--header-hue-lightness)) }
	77.2222% { color: hsl(114, 92%, var(--header-hue-lightness)) }
	77.5000% { color: hsl(115, 92%, var(--header-hue-lightness)) }
	77.7778% { color: hsl(116, 92%, var(--header-hue-lightness)) }
	78.0556% { color: hsl(117, 92%, var(--header-hue-lightness)) }
	78.3333% { color: hsl(118, 92%, var(--header-hue-lightness)) }
	78.6111% { color: hsl(119, 92%, var(--header-hue-lightness)) }
	78.8889% { color: hsl(120, 92%, var(--header-hue-lightness)) }
	79.1667% { color: hsl(121, 92%, var(--header-hue-lightness)) }
	79.4444% { color: hsl(122, 92%, var(--header-hue-lightness)) }
	79.7222% { color: hsl(123, 92%, var(--header-hue-lightness)) }
	80.0000% { color: hsl(124, 92%, var(--header-hue-lightness)) }
	80.2778% { color: hsl(125, 92%, var(--header-hue-lightness)) }
	80.5556% { color: hsl(126, 92%, var(--header-hue-lightness)) }
	80.8333% { color: hsl(127, 92%, var(--header-hue-lightness)) }
	81.1111% { color: hsl(128, 92%, var(--header-hue-lightness)) }
	81.3889% { color: hsl(129, 92%, var(--header-hue-lightness)) }
	81.6667% { color: hsl(130, 92%, var(--header-hue-lightness)) }
	81.9444% { color: hsl(131, 92%, var(--header-hue-lightness)) }
	82.2222% { color: hsl(132, 92%, var(--header-hue-lightness)) }
	82.5000% { color: hsl(133, 92%, var(--header-hue-lightness)) }
	82.7778% { color: hsl(134, 92%, var(--header-hue-lightness)) }
	83.0556% { color: hsl(135, 92%, var(--header-hue-lightness)) }
	83.3333% { color: hsl(136, 92%, var(--header-hue-lightness)) }
	83.6111% { color: hsl(137, 92%, var(--header-hue-lightness)) }
	83.8889% { color: hsl(138, 92%, var(--header-hue-lightness)) }
	84.1667% { color: hsl(139, 92%, var(--header-hue-lightness)) }
	84.4444% { color: hsl(140, 92%, var(--header-hue-lightness)) }
	84.7222% { color: hsl(141, 92%, var(--header-hue-lightness)) }
	85.0000% { color: hsl(142, 92%, var(--header-hue-lightness)) }
	85.2778% { color: hsl(143, 92%, var(--header-hue-lightness)) }
	85.5556% { color: hsl(144, 92%, var(--header-hue-lightness)) }
	85.8333% { color: hsl(145, 92%, var(--header-hue-lightness)) }
	86.1111% { color: hsl(146, 92%, var(--header-hue-lightness)) }
	86.3889% { color: hsl(147, 92%, var(--header-hue-lightness)) }
	86.6667% { color: hsl(148, 92%, var(--header-hue-lightness)) }
	86.9444% { color: hsl(149, 92%, var(--header-hue-lightness)) }
	87.2222% { color: hsl(150, 92%, var(--header-hue-lightness)) }
	87.5000% { color: hsl(151, 92%, var(--header-hue-lightness)) }
	87.7778% { color: hsl(152, 92%, var(--header-hue-lightness)) }
	88.0556% { color: hsl(153, 92%, var(--header-hue-lightness)) }
	88.3333% { color: hsl(154, 92%, var(--header-hue-lightness)) }
	88.6111% { color: hsl(155, 92%, var(--header-hue-lightness)) }
	88.8889% { color: hsl(156, 92%, var(--header-hue-lightness)) }
	89.1667% { color: hsl(157, 92%, var(--header-hue-lightness)) }
	89.4444% { color: hsl(158, 92%, var(--header-hue-lightness)) }
	89.7222% { color: hsl(159, 92%, var(--header-hue-lightness)) }
	90.0000% { color: hsl(160, 92%, var(--header-hue-lightness)) }
	90.2778% { color: hsl(161, 92%, var(--header-hue-lightness)) }
	90.5556% { color: hsl(162, 92%, var(--header-hue-lightness)) }
	90.8333% { color: hsl(163, 92%, var(--header-hue-lightness)) }
	91.1111% { color: hsl(164, 92%, var(--header-hue-lightness)) }
	91.3889% { color: hsl(165, 92%, var(--header-hue-lightness)) }
	91.6667% { color: hsl(166, 92%, var(--header-hue-lightness)) }
	91.9444% { color: hsl(167, 92%, var(--header-hue-lightness)) }
	92.2222% { color: hsl(168, 92%, var(--header-hue-lightness)) }
	92.5000% { color: hsl(169, 92%, var(--header-hue-lightness)) }
	92.7778% { color: hsl(170, 92%, var(--header-hue-lightness)) }
	93.0556% { color: hsl(171, 92%, var(--header-hue-lightness)) }
	93.3333% { color: hsl(172, 92%, var(--header-hue-lightness)) }
	93.6111% { color: hsl(173, 92%, var(--header-hue-lightness)) }
	93.8889% { color: hsl(174, 92%, var(--header-hue-lightness)) }
	94.1667% { color: hsl(175, 92%, var(--header-hue-lightness)) }
	94.4444% { color: hsl(176, 92%, var(--header-hue-lightness)) }
	94.7222% { color: hsl(177, 92%, var(--header-hue-lightness)) }
	95.0000% { color: hsl(178, 92%, var(--header-hue-lightness)) }
	95.2778% { color: hsl(179, 92%, var(--header-hue-lightness)) }
	95.5556% { color: hsl(180, 92%, var(--header-hue-lightness)) }
	95.8333% { color: hsl(181, 92%, var(--header-hue-lightness)) }
	96.1111% { color: hsl(182, 92%, var(--header-hue-lightness)) }
	96.3889% { color: hsl(183, 92%, var(--header-hue-lightness)) }
	96.6667% { color: hsl(184, 92%, var(--header-hue-lightness)) }
	96.9444% { color: hsl(185, 92%, var(--header-hue-lightness)) }
	97.2222% { color: hsl(186, 92%, var(--header-hue-lightness)) }
	97.5000% { color: hsl(187, 92%, var(--header-hue-lightness)) }
	97.7778% { color: hsl(188, 92%, var(--header-hue-lightness)) }
	98.0556% { color: hsl(189, 92%, var(--header-hue-lightness)) }
	98.3333% { color: hsl(190, 92%, var(--header-hue-lightness)) }
	98.6111% { color: hsl(191, 92%, var(--header-hue-lightness)) }
	98.8889% { color: hsl(192, 92%, var(--header-hue-lightness)) }
	99.1667% { color: hsl(193, 92%, var(--header-hue-lightness)) }
	99.4444% { color: hsl(194, 92%, var(--header-hue-lightness)) }
	99.7222% { color: hsl(195, 92%, var(--header-hue-lightness)) }
}
