.header {
	height: 75vh;
	/** Center the children both vertically and horizontally */
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.header::before {
	/** Background image that can be targeted with filter for animation */
	content: "";
	position: absolute;
	width: 100%;
	height: 75vh;
	background-image: url("/header.png");
	background-repeat: no-repeat;
	background-position: center center;
	animation: cycle-hues 10s linear 2.5s infinite;
}

.header::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 75vh;
	background-image: linear-gradient(0deg, hsl(200, 20%, 15%) 0%, rgba(0,0,0,0) 33%);
}

.header span {
	position: relative;
}

.header span p {
	/** Move the "Hello" up so the Typewriter is centered */
	margin: -1em 0 0 0;
}

/** Cycle through all the hue-rotate values */
@keyframes cycle-hues {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}