.wrapper {
	padding: 0.5em 0;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, 33%);
	justify-items: center;
	align-items: center;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	overflow: scroll;
}

@media (max-width: 800px) {
	.wrapper {
		grid-auto-flow: row;
		height: 100vh;
	}
}


.workItem {
	position: relative;
	flex: 1;
	background-color: hsl(216, 28%, 14%);
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1em;
	max-width: 80vw;
}

.workItem[data-background="light"]{
	background-color: white;
}

.workItem:hover .text {
	opacity: 1;
}

.text {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0.1em;
	line-height: 1em;
	text-align: center;
	word-wrap: anywhere;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: rgba(0, 0, 0, 0.8);
	color: var(--color);
	opacity: 0;
	transition: 250ms opacity linear;
}

.media, .media img {
	background: none;
	border: 0;
	padding: 0.25em !important;
	width: 100%;
	min-width: 25vmin;
	height: auto;
	object-fit: contain;
	margin: auto;
	cursor: pointer;
}

.fullWorkItem {
	text-align: center;
	max-width: 75vw;
	max-height: 90vh;
	overflow-y: auto;
}

.fullWorkItem[data-page="true"] {
	max-width: auto;
	max-height: auto;
	margin: auto;
	overflow-y: unset;
}

.fullMedia {
	max-width: 100%;
	max-height: 50vmin;
}

.fullIcon {
	height: 100px;
	max-width: 100px;
	flex: 1;
	margin: 0.25em;
	background-color: rgb(26, 34, 46);
	border-radius: 1em;
	margin: 0.1em;
	padding: 0.1em;
}


.fullIcon[data-background="light"] {
	background: white;
}

.fullWorkTags {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding: 1em;
}

@media (max-width: 600px) {
	.fullWorkTags {
		grid-template-columns: 1fr;
	}
}

.fullWorkTags > span {
	background-color: hsl(216, 28%, 7%);
	border-radius: 1em;
	padding-bottom: 0.5em;
}

.iconsWrapper {
	padding-top: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sourceAnchor {
	float: left;
}

.liveAnchor {
	float: right;
}

.icon {
	position: absolute;
	bottom: 0;
	width: 5vmin;
	background-color: hsl(216, 28%, 14%);
	padding: 0.1em;
}
.icon[data-background="light"] {
	background: white;
}

.icon[data-side="left"] {
	left: 0;
	border-top-right-radius: 0.25em;
	border-bottom-left-radius: 0.75em;
}

.icon[data-side="right"] {
	right: 0;
	border-top-left-radius: 0.25em;
	border-bottom-right-radius: 0.75em;
}



.filterBadges {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.filterForm {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 1em;
	background-color: hsl(216, 28%, 14%);
	border-radius: 1em;
	max-width: 80vw;
}

.filterButtons {
	display: flex;
	justify-content: space-around;
}

.badgeImage {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.badgeCaption {
	white-space: nowrap;
	padding-right: 0.5em;
}

.badge {
	position: relative;
	all: unset;
	cursor: not-allowed;
	cursor: url("/delete-16.png"), not-allowed;
	background-color: hsl(216, 28%, 7%);
	border-radius: 1em;
	border: 1px solid;
	display: flex;
	align-items: center;
	height: 2em;
	gap: 0.5em;
}

.badge:is(:hover, :focus, :active) {
	outline: 1px solid #63b1bc;
}

.badgeIconWrapper {
	display: inline-block;
	position: relative;
	min-width: 2em;
	height: 1.75em;
}


.badge[data-background="light"] {
	background: white;
	color: black;
}

.badge[data-type="inclusive"] {
	border-color: green;
}
.badge[data-type="exclusive"] {
	border-color: red;
}