.wrapper {
	padding: 0.5em;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, 33%);
	justify-items: center;
	align-items: center;
	grid-template-rows: 1fr 1fr;
	grid-auto-flow: column;
	overflow: scroll hidden;
}

.wrapper[data-viewing-all="false"] {
	padding-bottom: 3rem;
}

.wrapper > button {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.tabWrapper {
	filter: drop-shadow(0 10px 0.25em var(--background-color));
	position: relative;
}

@media (max-width: 1000px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
	}
	.wrapper[data-viewing-all="true"] {
		height: 80vh;
		overflow: hidden scroll;
	}
}

@media (max-width: 800px) {
	.wrapper {
		grid-template-columns: auto;
	}

	.wrapper > button {
		position: relative;
		bottom: 0;
		right: 0;
	}

	.wrapper[data-viewing-all="false"] {
		padding-bottom: 0.5rem;
	}

}

.workItem {
	position: relative;
	flex: 1;
	background-color: var(--mini-work-item-background);
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	padding: 1em;
	max-width: 80vw;
	max-height: 33vh;
	transition: 1s 250ms all;
}

.workItem:nth-of-type(even) {
	bottom: -125%;
}
.workItem:nth-of-type(odd) {
	top: -125%;
}

.workItem:nth-of-type(even)[data-in-view="true"]{
	bottom: 0;
}
.workItem:nth-of-type(odd)[data-in-view="true"]{
	top: 0;
}

@media (max-width: 1000px) {
	.workItem:nth-of-type(odd) {
		bottom: auto;
		left: -125%;
	}
	.workItem:nth-of-type(even) {
		top: auto;
		right: -125%;
	}
	.workItem:nth-of-type(odd)[data-in-view="true"]{
		bottom: auto;
		left: 0;
	}
	.workItem:nth-of-type(even)[data-in-view="true"]{
		top: auto;
		right: 0;
	}
}

@media (max-width: 800px) {
	.workItem:nth-of-type(even) {
		bottom: auto;
		left: -125%;
	}
	.workItem:nth-of-type(odd) {
		top: auto;
		right: -125%;
	}
	.workItem:nth-of-type(even)[data-in-view="true"]{
		bottom: auto;
		left: 0;
	}
	.workItem:nth-of-type(odd)[data-in-view="true"]{
		top: auto;
		right: 0;
	}
}



.workItem[data-background="light"]{
	background-color: white;
}

.workItem:is(:hover, :focus-within, [data-selected="true"]) .text {
	opacity: 1;
}

@media (max-width: 1000px) {
	.workItem .text {
		opacity: 1;
	}
}

.text {
	z-index: 1;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0.1em;
	line-height: 1em;
	text-align: center;
	word-wrap: anywhere;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	opacity: 0;
	transition: 250ms opacity linear;
}

.text:is(:active, :hover, :focus) {
	opacity: 1;
}

.media, .media img {
	position: relative;
	background: none;
	border: 0;
	padding: 0.25em !important;
	width: 100%;
	min-width: 20vmin;
	height: 100%;
	object-fit: contain;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
}

.media .playIcon {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
	height: 2rem;
	min-width: auto;
	background: rgba(255, 255, 255, 1);
	border: 1px solid black;
	border-radius: 100%;
}

.fullWorkItem {
	text-align: center;
	max-width: 75vw;
	max-height: 90vh;
	overflow-y: auto;
}

.fullWorkItem[data-page="true"] {
	max-width: none;
	max-height: none;
	margin: auto;
	overflow-y: unset;
}

.fullMedia {
	max-width: 100%;
	max-height: 50vmin;
}

.fullIcon {
	height: 100px;
	max-width: 100px;
	flex: 1;
	margin: 0.25em;
	background-color: var(--mini-work-item-background);
	border-radius: 1em;
	margin: 0.1em;
	padding: 0.1em;
}


.fullIcon[data-background="light"] {
	background: white;
}

.fullWorkTags {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	padding: 1em;
}

@media (max-width: 600px) {
	.fullWorkTags {
		grid-template-columns: 1fr;
	}
}

.fullWorkTags > span {
	background-color: var(--tabs-content-background-color);
	border-radius: 1em;
	padding-bottom: 0.5em;
}

.iconsWrapper {
	padding-top: 0.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sourceAnchor {
	float: left;
}

.liveAnchor {
	float: right;
}

.icon {
	position: absolute;
	bottom: 0;
	width: 5vmin;
	background-color: var(--mini-work-item-background);
	padding: 0.1em;
	transition: 1s 250ms all;
	opacity: 1;
}
.icon[data-background="light"] {
	background: white;
}
.icon[data-in-view="false"]{
	background: transparent;
	opacity: 0;
}

.icon[data-side="left"] {
	border-top-right-radius: 0.25em;
	border-bottom-left-radius: 0.75em;
}
.icon[data-side="right"] {
	border-top-left-radius: 0.25em;
	border-bottom-right-radius: 0.75em;
}

.icon[data-side="left"] {
	left: 0;
	bottom: 0;
}
.workItem:nth-of-type(even) .icon[data-side="left"][data-in-view="false"] {
	bottom: -100%;
}
.workItem:nth-of-type(odd) .icon[data-side="left"][data-in-view="false"] {
	bottom: 100%;
}

.icon[data-side="right"] {
	right: 0;
	bottom: 0;
}
.workItem:nth-of-type(even) .icon[data-side="right"][data-in-view="false"] {
	bottom: -100%;
}
.workItem:nth-of-type(odd) .icon[data-side="right"][data-in-view="false"] {
	bottom: 100%;
}

@media (max-width: 800px) {
	.icon[data-side="left"] {
		bottom: 0;
		left: 0;
	}
	.icon[data-side="left"][data-in-view="false"] {
		bottom: 0;
		left: -100%;
	}

	.icon[data-side="right"] {
		bottom: 0;
		right: 0;
	}
	.icon[data-side="right"][data-in-view="false"] {
		bottom: 0;
		right: -100%;
	}
	.workItem:nth-of-type(even) .icon[data-side="right"][data-in-view="false"] {
		bottom: 0;
	}
	.workItem:nth-of-type(odd) .icon[data-side="right"][data-in-view="false"] {
		bottom: 0;
	}
	.workItem:nth-of-type(even) .icon[data-side="left"][data-in-view="false"] {
		bottom: 0;
	}
	.workItem:nth-of-type(odd) .icon[data-side="left"][data-in-view="false"] {
		bottom: 0;
	}
}


.filterBadges {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.filterForm {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 1em;
	background-color: var(--mini-work-item-background);
	border-radius: 1em;
	max-width: 80vw;
}

.filterButtons {
	display: flex;
	justify-content: space-around;
}

.badgeImage {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.badgeCaption {
	white-space: nowrap;
	padding-right: 0.5em;
}

.badge {
	position: relative;
	all: unset;
	cursor: not-allowed;
	cursor: url("/delete-16.png"), not-allowed;
	background-color: var(--badge-background-color);
	border-radius: 1em;
	border: 1px solid;
	display: flex;
	align-items: center;
	height: 2em;
	gap: 0.5em;
}

.badge:is(:hover, :focus, :active) {
	outline: 1px solid #63b1bc;
}

.badgeIconWrapper {
	display: inline-block;
	position: relative;
	min-width: 2em;
	height: 1.75em;
}


.badge[data-background="light"] {
	background: white;
	color: black;
}

.badge[data-type="inclusive"] {
	border-color: green;
}
.badge[data-type="exclusive"] {
	border-color: red;
}