.aboutMe {
	max-width: 75vw;
	margin: auto;
}

@media (max-width: 600px) {
	.aboutMe {
		max-width: none;
	}
}


.linksContainer {
	float: right;
	text-align: center;
	height: 100%;
}

@media (max-width: 800px) {
	.linksContainer {
		float: none;
	}
	.linksContainer li {
		display: inline-block;
		padding-right: 1rem;
	}
}

.linksContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.linksContainer img {
	position: relative;
	right: -200%;
	height: 2.5em;
	transition: 1s 1s right ease-in-out;
}

.linksContainer [data-in-view="true"] img {
	right: 0;
}
.linksContainer a:is(:focus, :active, :hover) img {
	transform: scale(1.1);
}